.blog {
  margin: 64px 0;
}
.title {
  font-family: $font-family-sans-serif;
  font-size: remy(46px);
  color: $navbar-light-color;
}
.subtitle {
  font-family: 'Montserrat';
  font-size: remy(18px);
  color: $text-color;
  letter-spacing: 0.13px;
}
