.blog {
  margin: 64px 0;
}
.title {
  font-family: $font-family-sans-serif;
  font-size: remy(46px);
  color: $navbar-light-color;
}
.subtitle {
  font-family: 'Montserrat';
  font-size: remy(18px);
  color: $text-color;
  letter-spacing: 0.13px;
  padding-bottom: 54px;
}
.grid-item {
  margin-bottom: 58px;
}
.post-image {
  background-color: #d4d5d0;
  position: relative;
}
.image1 {
  height: 240px;
}
.image2 {
  height: 400px;
}
.image3 {
  height: 280px;
}
.image4 {
  height: 500px;
}
.post-comments {
  content:'';
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 14px;
  width: 100%;
  color: #fff;
}
.number {
  font-size: remy(14px);
  font-weight: 300;
  padding-left: 2px;
}
.post-title {
  font-family: 'Raleway', sans-serif;
  font-size: remy(22px);
  font-weight: 400;
  letter-spacing: 0.15px;
  color: $navbar-light-color;
  padding-top: 30px;
}
.post-text {
  font-family: 'Montserrat';
  font-size: remy(14px);
  font-weight: 300;
  color: $text-color;
}
.post-link {
  font-family: 'Montserrat';
  font-size: remy(14px);
  font-weight: 400;
  color: $navbar-light-color;
  text-transform: uppercase;
  letter-spacing: 0.07px;
  margin-top: 11px;
}
time {
  font-family: 'Montserrat';
  font-size: remy(14px);
  font-weight: 300;
}
.post-author {
  font-family: 'Montserrat';
  font-size: remy(12px);
  font-weight: 300;
  letter-spacing: 0.08px;
  color: $navbar-light-color;
  margin: 2px 0 13px 0;
}
.author-link {
  color: #0cbb58;
}
/*
#disqus-thread {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 300px;
  height: 400px;
  background-color: lightblue;
}
*/
