@font-face {
    font-family: 'droid_serifbold';
    src: url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
}

@function remy($value) {
  @return ($value / 16px) *1rem;
}

$font-family-sans-serif: 'droid_serifbold';
$base-color: #202020;
$text-color: #4a4a4a;
$link-green: #0cbb58;

@import '_header.scss';
@import '_blog.scss';
@import '_subscribe.scss';
@import '_footer.scss';
