.footer {
  padding: 54px 0;
}
.copyright {
  font-family: 'Montserrat';
  font-size: remy(14px);
  font-weight: 700;
  letter-spacing: 0.07px;
  color: $base-color;
  text-transform: uppercase;
}
.social {
  list-style: none;
}
.footer-social {
  padding-left: 0;
}
.social-icons {
  padding-bottom: 20px;
}
.social-link {
  color: $base-color;

  &:hover {
    color: $link-green;
  }
}
