.header {
  margin: 28px 0;
}
.nav-item {
  padding-left: 28px;
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: remy(14px);
  font-weight: 400;
  text-transform: uppercase;
  color: $navbar-light-color;
}
