.header {
  margin: 28px 0;
}
.navbar.container-fluid {
  position: relative;
}
.nav-item {
  padding-left: 28px;
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: remy(14px);
  font-weight: 400;
  text-transform: uppercase;
  color: $base-color;
}
.navbar-toggler {
  border: none !important;

  &:focus {
    outline: none;
  }
}
.hamburger-icon {
  display: block;
  position: fixed;
  right: 28px;
  height: 4px;
  background-color: #010101;
  width: 30px;
  margin: auto;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    background-color: #010101;
    width: 41px;
    margin: auto;
    top: 10px;
    transform-origin: 50% 50%;
  }

  &:after {
    top: calc(100% - 14px);
  }
}
.mobile-menu {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    position: absolute;
    right: 28px;
    width: 183px;
    margin-right: 40px;
  }
}
.nav-social {
  width: 100%;
  padding-top: 20px;
}
.active {
    .hamburger-icon {
     /* opacity: 0;*/
  }
  &:after {
    transform: rotate(-45deg);
    top: 8px;
  }
  &:before {
    transform: rotate(45deg);
    top: 8px;
  }
}
