.author {
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 50px;
  }
}
.the-blogs {
  .author-link {
    font-family: 'Montserrat';
    font-size: remy(22px);
    font-weight: 700;
    letter-spacing: 0.08px;
    text-transform: uppercase;
  }
}
.subtitle {
  a {
    color: $text-color;
    text-decoration: none;
  }
}
.full-size {
  width: 100%;
}
